{% comment %} {% extends "base_generic.html" %} {% endcomment %}

{% block content %}
  <h2>Sponsor List</h2>
  <a href="{% url 'sponsor_add' %}">Add New Sponsor</a>
  <ul>
    {% for sponsor in sponsors %}
      <li>
        {{ sponsor.name }} - {{ sponsor.sponsorship_amount }} - {{ sponsor.logo }}
        <a href="{% url 'sponsor_edit' sponsor.id %}">Edit</a>
        <a href="{% url 'sponsor_delete' sponsor.id %}">Delete</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}



<!-- <div class="container my-4">
  <div class="row">
      {% for sponsor in sponsors %}
          <div class="col-md-4 mb-4">
              <div class="card h-100">
                  <img src="{{ sponsor.logo.url }}" class="card-img-top" alt="{{ sponsor.name }}">
                  <div class="card-body">
                      <h5 class="card-title">{{ sponsor.name }}</h5>
                      <p class="card-text">{{ sponsor.description|truncatewords:20 }}</p>
                      <p class="card-text"><strong>Contact:</strong> {{ sponsor.contact_info }}</p>
                      <p class="card-text"><strong>Amount:</strong> ${{ sponsor.sponsorship_amount }}</p>
                  </div>
              </div>
          </div>
      {% endfor %}
  </div>
</div> -->
